<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>A Java Servlet for generating Attestations for Snapchat™ logins.</display-name>

    <servlet>
        <servlet-name>AttestationServlet</servlet-name>
        <servlet-class>io.casper.lib.attestations.AttestationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AttestationServlet</servlet-name>
        <url-pattern>/attestation</url-pattern>
    </servlet-mapping>

</web-app>